__pycache__/
*.pyc
*.pyo


*.log
*.zip
*.npz

Imitation_Learning.py
Imitation_Learning_test.py
setup.py
setup_path.py
step3_finetunning.py
visualization_lidar.py
visualization_lidar_iter.py

lidar_data/
